<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form  action="/login" method="post">

    <p>Search String: <input type="text" name="searchFacebookString"/> <input type="submit" name="action" value="Search_Facebook" /></p>
    <p>Search String: <input type="text" name="searchString"/> <input type="submit" name="action" value="Search_Linkedin" /></p>
    <p>Search String: <input type="text" name="searchString"/> <input type="submit" name="action" value="Search_Instagram" /></p>
    <p>Search String: <input type="text" name="searchTwitterString"/> <input type="submit" name="action" value="Search_Twitter" /></p>
    <p>Search String: <input type="text" name="searchString"/> <input type="submit" name="action" value="Search_Google+" /></p>

</form>


</body>
</html>