<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="/registration" method="post">

    Enter User Name : <input type="text" name="userName"/><br/>
    Enter Password : <input type="text" name="password"/><br/>
    Enter First Name: <input type="text" name="firstName"/> <br/>
    Enter Last Name : <input type="text" name="lastName"/><br/>

    <input type="submit" name="action" value="Submit"/>

</form>

</body>
</html>