<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8" />
    <title>UMSL Scraper</title>
</head>
<body>
<form action="/searchTwitter" method="post">

    <H1>TWITTER SEARCH</H1>
    <p>Search String: <input type="text" name="searchByString"/> <input type="submit" name="action" value="Search_By_String" /></p>
    <p>Search String: <input type="text" name="searchByHashTag"/> <input type="submit" name="action" value="Search_By_HashTag" /></p>
    <p>Search String: <input type="text" name="searchByTwitterHandle"/> <input type="submit" name="action" value="Search_By_TwitterHandle" /></p>
    <p>No input: <input type="submit" name="action" value="Search_By_Trending" /></p>



</form>

</body>
</html>