<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="/success" method="post">
    <div>
        SUCESSS!!! File Written!
        <!--/*@thymesVar id="userName" type=""*/-->
        <p th:text="'User Name : '+${userName}"></p>
        <!--/*@thymesVar id="password" type=""*/-->
        <p th:text="'Password : '+${password}"></p>
        <!--/*@thymesVar id="firstName" type=""*/-->
        <p th:text="'First Name: '+${firstName}"></p>
        <!--/*@thymesVar id="lastName" type=""*/-->
        <p th:text="'Last Name : '+${lastName}"></p>

        <input type="submit" name="action" value="EXIT"/>

    </div>
</form>
</body>
</html>